@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

[x-cloak] {
    display: none !important;
}

.filament-notifications {
    @apply inset-24
}

.filament-notifications-notification {
    @apply bg-bunababy-200 text-white rounded-full py-2 border-transparent
}

.filament-notifications-icon {
    @apply text-white
}

.filament-notifications-title {
    @apply text-white
}

.filament-notifications-close-button {
    @apply text-white
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-track {
    border-radius: 3px;
}

::-webkit-scrollbar-thumb {
    background-color: lightpink;
    border-radius: 3px;
    padding: 3px;
}