@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

[x-cloak] {
    display: none !important;
}

.filament-notifications {
    @apply min-w-fit inset-24;
}

.filament-notifications-notification {
    @apply py-2 text-white border-transparent rounded-full bg-bunababy-200;
}

.filament-notifications-icon {
    @apply text-white;
}

.filament-notifications-title {
    @apply leading-tight text-white flex-nowrap;
}

.filament-notifications-close-button {
    @apply text-white;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-track {
    border-radius: 3px;
}

::-webkit-scrollbar-thumb {
    background-color: lightpink;
    border-radius: 3px;
    padding: 3px;
}
